[core]
    autocrlf = input
    editor = nvim
    eol = lf
    pager = delta
[user]
    email = arya.mukherjee@hotmail.com
    name = Arya Mukherjee
[credential]
    helper = store
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
